<div class="main container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title mb-3"><%= @list.name %></h1>

          <div class="col-8 p-5">
            <h5>Add a movie</h5>
            <%= render "bookmarks/form", list: @list, bookmark: @bookmark  %>
          </div>

          <% if @list.bookmarks.any? %>
            <h5 class="mt-4">Saved Movies:</h5>
            <div class="row">
              <% @list.bookmarks.each do |bookmark| %>

                <%= render "movies/moviecard", movie: bookmark.movie, bookmark: bookmark %>

              <% end %>
            </div>
          <% else %>
            <p class="text-muted">No movies saved.</p>
          <% end %>

          <%= link_to "Back to list overview", lists_path, class: "btn btn-secondary mt-4" %>
        </div>
      </div>

    </div>
  </div>
</div>
